extends ./layout.jade
				
block contenido	
	-if (currentSession != null) 
		include ./session/session_permission/authActions.jade
	-else
		include ./session/session_permission/unauthActions.jade

	main
		div(class="jumbotron text-center") 
			h1(class="shadow-text a top-space") Centros de Depilación
			h2(class="shadow-text a") Láser Diodo
			p(class="a top-space") Únicos especialistas en depilación láser diodo con más de 15 centros en todo Chile
			p(class="a top-space") Lun - Vie: 9:00 - 21:00 hrs
			p(class="a") Sab: 10:00 - 14:00 hrs