/* General conditions */

:root {
  --red: #ED5454;
  --semi-black: rgba(255,255,255,0.5);
  --document-borders: #ced4da; 
}

body {
  font-family: "Montserrat";
  font-weight: 100;
  color: #A8B2B9;
}

/* Principal elements */

/* Navbar */ 

@media screen and (max-width: 575px) {
  nav img.img-responsive {
      width: 100px;
      height: auto;
  }
}


@media screen and (min-width: 576px) and (max-width: 991px) {
  nav img.img-responsive {
      width: 200px;
      height: auto;
  }
}

@media screen and (min-width: 992px) {
  nav img.img-responsive {   
      width:300px;
      height: auto;
  }
}

nav .navbar-text {
  padding-right: 0.5em; 
  border-right: 1px solid var(--semi-black); 
}

@media screen and (max-width: 575px) {
  nav .navbar-text {
      display: none; 
  }
}

nav .right-space {
  margin-right: 0.5em;
}

/* Main */

main {
  grid-area: content;
  /* padding: 48px; */  
  background-color: #FCFBFC;
}

/* Calendar */ 

.wrapper {
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  grid-template-columns: 1fr;
  grid-template-areas: "sidebar"
                       "content";
  width: 100vw; /* unnecessary, but let's keep things consistent */
  height: 100vh;
}

@media screen and (min-width: 850px) {
  .wrapper {
    grid-template-columns: 200px 5fr;
    grid-template-rows: 1fr;
    grid-template-areas: "sidebar content";
  }
}

.calendar__week,
.calendar__header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);  
}
.calendar__week {
  grid-auto-rows: 100px;
  text-align: right;
}

.calendar__header {
  grid-auto-rows: 50px;
  align-items: center;
  text-align: center;
}

.calendar__day {
  padding: 16px;
}

.avatar__name {
  font-size: 0.8rem;
}

.menu__item {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 500;
  padding: 16px 16px 16px 14px;
  border-left: 4px solid transparent;
  color: inherit;
  text-decoration: none;
  transition: color ease 0.3s;
}

.menu__item--active .menu__icon {
  color: var(--red);
}

.menu__item--active .menu__text {
  color: black;
}

.menu__item:hover {
  color: black;
}

.menu__icon {
  font-size: 1.3rem;
}

@media screen and (min-width: 850px) {
  .menu__icon {
    font-size: 0.9rem;
    padding-right: 16px;
  }
  .menu__item--active {
    border-left: 4px solid var(--red);
    box-shadow: inset 10px 0px 17px -13px var(--red);
  }
}

.copyright {
  font-size: 0.7rem;
  font-weight: 400;
}

.calendar {
  background-color: white;
  border: 1px solid #e1e1e1;
}

.calendar__header > div {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
}

.calendar__day {
  border-right: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
}

.calendar__day:last-child {
  border-right: 0;
}

.toggle {
  display: grid;
  grid-template-columns: 1fr 1fr;

  text-align: center;
  font-size: 0.9em;
}

.toggle__option {
  padding: 16px;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  text-transform: capitalize;
  cursor: pointer;
}

.toggle__option:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.toggle__option:last-child {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.toggle__option--selected{
  border-color: white;
  background-color: white;
  color: var(--red);
  font-weight: 500;
  box-shadow: 1px 2px 30px -5px var(--red);
}

/* Toolbar */

.toolbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

/* Category styling */

.documento-new .human-body {
  border: 1px solid var(--document-borders); 
  margin-bottom: 1em; 
  width: 100%; 
}

.documento-new .human-body nav.nav  {
  border-bottom: 1px solid var(--document-borders); 
}

.documento-new .human-body nav .nav-link {
  border-radius: 0; 
}

.documento-new .human-body nav .nav-link.active {
  background-color: #343a40; 
}

.documento-new .human-body nav .nav-item:not(:last-child) {
  border-right: 1px solid var(--document-borders); 
}

.documento-new .human-body .svg-body g {
  opacity: 0;
  fill: steelblue;
  cursor: pointer;
  transition: background-color 0.1s linear;   
}

.documento-new .human-body .svg-body g:hover {
  opacity: 0.5; 
}

.documento-new .map,
.documento-edit .map {
  border: 1px solid var(--document-borders); 
  margin-bottom: 1em; 
  height: 300px;
}


/* Behaviour */ 

/* Mark input boxes that gets an error on validation: */

.invalid {
  background-color: #ffdddd;
}

.disabled {
  background-color: #f2f2f2;
}

/* Hide all steps by default: */

.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */

.step.finish {
  background-color: #4CAF50;
}

/* General styling */ 

.jumbotron{
	margin-bottom: 10px;
  background-image: url(../lasertam3.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  border-radius: 0;
}

.img-responsive {
  height: 5%;
  width: auto;
}

h1.a {
  font-family: "Montserrat", "Helvetica";
  font-weight: bold; 
}

h2.a {
  font-family: "Montserrat", "Helvetica";
  font-weight: bold; 
}

p.a {
  font-family: "Montserrat", "Helvetica";
  font-weight: bold; 
}

.shadow-text {
	text-shadow: black 0.3em 0.3em 0.3em;
}

.big-top-space {
	margin-top: 200px;
}

.top-space {
	margin-top: 2em;
	margin-bottom: 1em;
}

.mid-space {
	margin-top: 1em;
	margin-bottom: 1em;
}

.left-space {
  margin-left: 0.5em;
}

.right-space {
  margin-right: 0.5em;
}

.remove-float {
	float: none;
}

.icon {
  margin: 0.2em;
  width: 2.15em;
  height: 2.15em;
}