extends ../../layout.jade

block contenido
	-if (user.permission == "Admin") 
		include ../session_permission/adminActions.jade
	-else if (user.permission == "Branch")
		include ../session_permission/branchActions.jade
	-else if (user.permission == "Resource")
		include ../session_permission/resourceActions.jade
	-else
		include ../session_permission/userActions.jade

	main
		h1(class="text-center") Crear Tipo de Pack
		div(class="container mx-auto col-xs-12 col-sm-6 top-space")
			div(class="col-sm-6" style="height:130px;")
				form(id="sendPackType" class="form-vertical" action="/session/packTypes" method="POST")
					// -if(user.permission == "Admin") (#*#)
					// 	div(class="form-group") 
					// 		label(for="permission") Rol
					// 		select(class="form-control" name="permission" id="permission")
					// 			for permiso in permisos
					// 				option(class="text-secondary" value=permiso)=permiso
					div(class="form-group")
						label(for="title") Título
						input(type="text" name="title" placeholder="Título" id="title" class="form-control")
					input(type="hidden" id="zonesString" name="zonesString")
					div(class="form-group")
						label(for="nSessions") Cantidad de sesiones
						input(type="number" name="nSessions" value="1" id="nSessions" class="form-control")
					div(class="form-group")
						label(for="nZones") Cantidad de zonas
						input(type="number" name="nZones" value="0" id="nZones" class="form-control")
					div(class="form-group" id="zoneTypes")
					div(class="form-group text-right top-space")
						button(type="submit" class="btn btn-outline-success btn-lg" data-toggle="tooltip" data-placement="top" title="Enviar")
							i(class="fa fa-check-square-o")

					script.
						$("#nZones").change(function(e){
							if (e.originalEvent) {
								var i;
								var n = this.value;
								var x = document.getElementsByTagName("tr");
								var j = x.length;
								var n = n - j;
								for (i = 0; i < n; i++) { 
									var row = $('<tr/>').appendTo("#zoneTypes");
									var label = $('<label/>', { 'class':"input-group-text" });
									label.text("Zona " + (j+i+1));
									label.appendTo(row);

									var options = [];
									_.where(!{JSON.stringify(tipos)}, {}).forEach(function(element){
										options.push($("<option>").attr('value',element).text(element));
									});
									var sel = $('<select/>', { 'class':"selectpicker", 'style':"text-align: center;"})
										.append(options)
										.appendTo(label)
										.attr('multiple',true)
										.selectpicker('val', []);
								}
								for (i = 0; i < -n; i++) {
									x[j - 1 - i].remove();
								}
							}
							else {

							}
						});

					script.
						$('#sendPackType').submit(function(e) {
							var ZneStr = "";
							var i;
							var x = document.getElementsByTagName("select");
							var n = x.length;
							for (i = 0; i < n; i++) { 
								_.where(x[i].options, {}).forEach(function(opt){
									if(opt.selected){
										ZneStr += opt.value;
										ZneStr += "/";
									}
								});
								ZneStr = ZneStr.slice(0, -1);
								ZneStr += "+";
							}
							ZneStr = ZneStr.slice(0, -1);
							document.getElementById("zonesString").value = ZneStr;
						});