extends ../../layout.jade

block contenido
	-if (user.permission == "Admin") 
		include ../session_permission/adminActions.jade
	-else if (user.permission == "Branch")
		include ../session_permission/branchActions.jade
	-else if (user.permission == "Resource")
		include ../session_permission/resourceActions.jade
	-else
		include ../session_permission/userActions.jade

	main
		div(class="container mx-auto col-xs-10 col-sm-8 col-md-6 col-lg-4 top-space")
			h1(class="text-center") Crear Pack
			form(id="createPack" action="/session/packs" method="POST")
				div(class="container") Cliente:
					div(class="form-group") 
						select(class="form-control" name="usr" id="usr")
							if(users.length == 1)
								option(class="text-secondary" value=users[0]._id selected)=users[0].name
							else
								option(class="text-secondary" value="undefined" disabled selected) Usuario
								for user in users
									option(class="text-secondary" value=user._id)=user.name
					div(class="form-group") 
						select(class="form-control" name="pTyp" id="pTyp")
							if(packTypes.length == 1) 
								option(class="text-secondary" value=packTypes[0]._id selected)=packTypes[0].title
							else 
								option(class="text-secondary" value="undefined" disabled selected) Elige un producto
								for packType in packTypes
									option(class="text-secondary" value=packType._id)=packType.title

				div(class="form-group" style="float:right;")
					button(type="button" class="btn btn-outline-danger btn-lg" id="prevBtn" onclick="window.location='/session/packs'" data-toggle="tooltip" data-placement="top" title="Atrás")
						i(class="fa fa-caret-square-o-left")
					button(type="submit" class="btn btn-outline-success btn-lg" id="nextBtn" data-toggle="tooltip" data-placement="top" title="Crear")
						i(class="fa fa-check-square-o")