extends ../../layout.jade

block contenido
	-if (user.permission == "Admin")
		include ../session_permission/adminActions.jade
	-else if (user.permission == "Branch")
		include ../session_permission/branchActions.jade
	-else if (user.permission == "Resource")
		include ../session_permission/resourceActions.jade
	-else
		include ../session_permission/userActions.jade

	main
		div(class="container mx-auto col-xs-12 col-sm-6 top-space")
			div(class="container mid-space")
				-if(pack.sessRemaining)
					h5 Tratamiento incompleto
				-else
					h5 Tratamiento finalizado
				table(class="table table-hover table-bordered table-responsive rounded text-center")
					thead(class="thead-light")
						tr
							th
								h5 Tipo
							th
								h5 Zona
							th
								h5 Local
							th(class="w-100")
								h5 Tratamiento
					tbody(id="nZones")

					script.
						$(document).ready(function(){
							var numZones = "!{pack.packType.zoneTypes}".split('+');
							for(var i = 0; i < numZones.length; i++){
								var type, zne, suc;
								var treatDocs = !{JSON.stringify(pack)}.treatment[i].docs;
								var firstDoc = treatDocs[0];
								if(firstDoc){
									type = firstDoc.servicio.category;
									zne = firstDoc.servicio.name;
									suc = firstDoc.sucursal.name;
								}
								else{
									type = numZones[i];
									zne = "Por definir";
									suc = "Por definir";
								}

								var row = $('<tr/>').appendTo("#nZones");
								//First cell of row
								var cell0 = $('<td/>');
								cell0.text(type);
								cell0.appendTo(row);
								//Second cell of row
								var cell1 = $('<td/>');
								cell1.text(zne);
								cell1.appendTo(row);
								//Third cell of row
								var cell2 = $('<td/>');
								cell2.text(suc);
								cell2.appendTo(row);
								//Fourth cell of row
								var cell3 = $('<td/>');

								var docs = [];
								var doc;
								for (var j = 0; j < "#{pack.packType.nSessions}"; j++) {
									var actualDoc = treatDocs[j];
									var docPath = "";
									var docStat = ["primary", "fa fa-plus-square-o"];
									if(actualDoc !== undefined) {
										docPath = "/session/documentos/" + treatDocs[j]._id;
										switch(actualDoc.status){
											case "agendado":
												docStat = ["warning", "fa fa-calendar"];
												break;
											case "ejecutado":
												docStat = ["success", "fa fa-calendar-check-o"];
												break;
											case "abandonado":
												docStat = ["danger", "fa fa-calendar-times-o"];
												break;
										}
									}
									doc = $("<a class='btn btn-default btn-outline-" + docStat[0] + " btn-lg'>");
									doc.attr("href", docPath);
									doc.append($("<i class='" + docStat[1] + "'>"));
									docs.push(doc);
								}
								cell3.append(docs);
								cell3.appendTo(row);
							}
						});
